<app-home-four-header></app-home-four-header>
			<!-- Home Banner -->
			<section class="section home-banner row-middle home-four">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-10 col-lg-8">
							<div class="market-place d-flex align-items-center">
								<div class="banner-content aos" data-aos="fade-up">
									<p>With the world's #1 Developers marketplace</p>
									<h1>Get the perfect <span class="orange-text">Developers & Projects</span> every time</h1>
									<form class="form"  name="store" id="store" method="post" action="project.html">
										<div class="form-inner">
											<div class="input-group">
												<div class="category-project">
													<label>Category</label>
													<span class="drop-detail">
														<mat-select  [(value)]="selected">
															<mat-option value="projects">Projects</mat-option>
															<mat-option value="freelancers">Freelancers</mat-option>
														  </mat-select>
													</span>
												</div>
												<div class="what-search">
													<label>What</label>
													<input type="email" class="form-control" placeholder="Job title, keywords, or company">
												</div>
												<button class="btn btn-primary sub-btn" (click)="search()" type="submit">Search Now</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->
	
			<!-- Our Feature -->
			<section class="section feature feature-four">
				<div class="container">
					<div class="row justify-content-center">					
								
						<!-- Feature Item -->
						<div class="col-xl-4 col-lg-6 col-md-6 d-flex">
							<div class="feature-item freelance-count aos" data-aos="fade-up">
								<div class="row">
									<div class="col">
										<div class="feature-content">
											<p>Freelance Developers</p>
											<h3>919,207</h3>
										</div>
									</div>
									<div class="col">
										<div class="feature-icon">
											<img src="assets/img/icon/feature-icon-04.png" class="img-fluid" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->
						
						<!-- Feature Item -->
						<div class="col-xl-4 col-lg-6 col-md-6 d-flex">
							<div class="feature-item aos" data-aos="fade-up">
								<div class="row">
									<div class="col">
										<div class="feature-content">
											<p>Developers  per project</p>
											<h3>25 - 100+</h3>
										</div>
									</div>
									<div class="col ">
										<div class="feature-icon">
											<img src="assets/img/icon/feature-icon-04.svg" class="img-fluid" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->
						
						<!-- Feature Item -->
						<div class="col-xl-4 col-lg-6 col-md-6 d-flex">
							<div class="feature-item comp-project aos" data-aos="fade-up">
								<div class="row">
									<div class="col">
										<div class="feature-content">
											<p>Completed Projects</p>
											<h3>388,615</h3>
										</div>
									</div>
									<div class="col ">
										<div class="feature-icon">
											<img src="assets/img/icon/feature-icon-05.svg" class="img-fluid" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->									
												
					</div>
				</div>
			</section>	
			<!-- /Our Feature -->			
			
			<!--- Developed Project  -->
			<section class="section most-hired-four">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 d-flex">
							<div class="hired-group-four aos" data-aos="fade-up">
								<h2>I NEED A DEVELOPED PROJECT</h2>
								<div class="row">
									<div class="col-lg-6">
										<div class="perfect-four">
											<p>Get the perfect Developed project for your budget from our creative community.</p>
											<div class="more-learn">
												<a [routerLink]="'/freelancer/project'" class="btn btn-primary">Learn More</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="img-perfect">
											<img src="assets/img/project-04.png"  alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 d-flex">
							<div class="hired-group-four want-to-work aos" data-aos="fade-up">
								<h2>I WANT TO WORK</h2>
								<div class="row">
									<div class="col-lg-6">
										<div class="perfect-four">
											<p>Get the perfect Developed project for your budget from our creative community.</p>
											<div class="more-learn">
												<a [routerLink]="'/employer/developer'" class="btn btn-primary">Learn More</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="img-perfect">
											<img src="assets/img/project-05.png"  alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--- /Developed Project  -->
			
			<!-- Projects -->
			<section class="section projects projects-two projects-four">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 mx-auto">
							<ul class="dot-head aos" data-aos="fade-up">
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
							</ul>
							<div class="section-header section-header-two text-left aos" data-aos="fade-up">
								<h2 class="header-title">Get Inspired<br> By Development Projects</h2>
								<div class="browse-all d-flex align-items-center">
									<a [routerLink]="'/freelancer/project'" class="btn btn-primary">Browse All Projects <i class="fas fa-angle-right"></i></a>
								</div>
							</div>
							<div class="section-text aos" data-aos="fade-up">
								<p>High Performing Solutions To Your</p>
							</div>
						</div>
					</div>
					<div class="row">
						
						<!--- Project Item  -->
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="project-item aos" data-aos="fade-up">
								<div class="project-img">
									<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-15.jpg" alt="" class="img-fluid"></a>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="develope-group">
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">ANGULAR</a></h5>
											<div class="count-number count-pink">
												<h4><i class="fas fa-folder"></i>24</h4>
											</div>
										</div>
										<div class="inspired-group d-flex">
											<h5><a href="project.html">DEVELOPER</a></h5>
											<div class="count-number count-sky">
												<h4><i class="fas fa-user-friends"></i>30</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--- /Project Item  -->
						
						<!--- Project Item  -->
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="project-item aos" data-aos="fade-up">
								<div class="project-img">
									<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-16.jpg" alt="" class="img-fluid"></a>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="develope-group">
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">JAVA</a></h5>
											<div class="count-number count-pink">
												<h4><i class="fas fa-folder"></i>24</h4>
											</div>
										</div>
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">DEVELOPER</a></h5>
											<div class="count-number count-sky">
												<h4><i class="fas fa-user-friends"></i>30</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--- /Project Item  -->
						
						<!--- Project-Item  -->
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="project-item aos" data-aos="fade-up">
								<div class="project-img">
									<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-17.jpg" alt="" class="img-fluid"></a>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="develope-group">
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">PHP</a></h5>
											<div class="count-number count-pink">
												<h4><i class="fas fa-folder"></i>24</h4>
											</div>
										</div>
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">DEVELOPER</a></h5>
											<div class="count-number count-sky">
												<h4><i class="fas fa-user-friends"></i>30</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--- /Project Item  -->
						
						<!--- Project Item  -->
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="project-item aos" data-aos="fade-up">
								<div class="project-img">
									<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-17.jpg" alt="" class="img-fluid"></a>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="develope-group">
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">REACT</a></h5>
											<div class="count-number count-pink">
												<h4><i class="fas fa-folder"></i>24</h4>
											</div>
										</div>
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">DEVELOPER</a></h5>
											<div class="count-number count-sky">
												<h4><i class="fas fa-user-friends"></i>30</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--- /Project Item  -->
						
						<!--- Project Item  -->
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="project-item aos" data-aos="fade-up">
								<div class="project-img">
									<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-18.jpg" alt="" class="img-fluid"></a>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="develope-group">
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">LARAVEL</a></h5>
											<div class="count-number count-pink">
												<h4><i class="fas fa-folder"></i>24</h4>
											</div>
										</div>
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">DEVELOPER</a></h5>
											<div class="count-number count-sky">
												<h4><i class="fas fa-user-friends"></i>30</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--- /Project Item  -->
						
						<!--- Project Item  -->
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="project-item aos" data-aos="fade-up">
								<div class="project-img">
									<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-16.jpg" alt="" class="img-fluid"></a>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="develope-group">
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">ANDROID APPS</a></h5>
											<div class="count-number count-pink">
												<h4><i class="fas fa-folder"></i>24</h4>
											</div>
										</div>
										<div class="inspired-group d-flex">
											<h5><a [routerLink]="'/freelancer/project'">DEVELOPER</a></h5>
											<div class="count-number count-sky">
												<h4><i class="fas fa-user-friends"></i>30</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--- /Project Item  -->
						
					</div>
				</div>
			</section>
			<!-- /Projects -->
		
			<!-- Subscribe -->
			<section class="section subscribe subscribe-four">
				<div class="container">
					<div class="discount-four aos" data-aos="fade-up">					
						<div class="row align-items-center">
							<div class="col-md-7"> 
								<div class="aos" data-aos="fade-up"> 
									<h3>Subscribe To Get Discounts, Updates & More</h3>
									<p>Monthly product updates, industry news and more!</p>
									<form action="#" method="POST">
										<div class="form-inner">
											<div class="input-group">
												<input type="email" class="form-control" placeholder="Enter Email Address">
												<button class="btn btn-primary sub-btn" type="submit">Search Now</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5"> 
								<div class="subscribe-image text-center aos" data-aos="fade-up">
									<img src="assets/img/subscribe-01.png" class="img-fluid" alt="subscribe">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Subscribe -->	
			
			<!-- Top Instructor -->
			<section class="section developer developer-four">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 mx-auto">
							<ul class="dot-head aos" data-aos="fade-up">
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
							</ul>
							<div class="section-header section-header-two text-left aos" data-aos="fade-up">
								<h2 class="header-title">Most Hired <br> Developers</h2>
								<div class="browse-all developer-all d-flex align-items-center">
									<a [routerLink]="'/freelancer/developers-details'" class="btn btn-primary">Browse All Developers <i class="fas fa-angle-right"></i></a>
								</div>
							</div>
							<div class="section-text aos" data-aos="fade-up">
								<p>Work with talented people at the most affordable price</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex ">
										<a [routerLink]="'/freelancer/developers-details'" class="sky"><i class="fas fa-circle"></i> Web design</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a [routerLink]="'/freelancer/developers-details'">George Wells <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">UI/UX Designer</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>Alabama, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">4.7 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-1.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$25</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex ">
										<a [routerLink]="'/freelancer/developers-details'" class="pink"><i class="fas fa-circle"></i> Angular</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a [routerLink]="'/freelancer/developers-details'">Timothy Smith <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">PHP Developer</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>Alabama, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">4.7 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-2.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$45</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex ">
										<a [routerLink]="'/freelancer/developers-details'" class="orange"><i class="fas fa-circle"></i> Node js</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a [routerLink]="'/freelancer/developers-details'">Janet Paden <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">Graphic Designer</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>Illinois, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">4.7 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-3.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$23</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex ">
										<a [routerLink]="'/freelancer/developers-details'" class="sky"><i class="fas fa-circle"></i> Web design</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a [routerLink]="'/freelancer/developers-details'">James Douglas <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">iOS Developer</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>Missouri, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star "></i>
											<i class="fas fa-star "></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">3.7 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-4.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$45</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex">
										<a [routerLink]="'/freelancer/developers-details'" class="sky"><i class="fas fa-circle"></i> Web design</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a [routerLink]="'/freelancer/developers-details'">Floyd Lewis <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">SEO Developer</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>Alabama, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">4.9 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-5.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$34</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex ">
										<a [routerLink]="'/freelancer/developers-details'" class="pink"><i class="fas fa-circle"></i> Angular</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a href="#">Jacqueline Daye  <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">SM Developer</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>California, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star "></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">4.2 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-6.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$45</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex ">
										<a [routerLink]="'/freelancer/developers-details'" class="orange"><i class="fas fa-circle"></i> Node js</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a href="#">Tony Ingle  <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">Business Analyst</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>Missouri, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star "></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">4.3 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-7.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$15</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="freelance-widget aos" data-aos="fade-up">
								<div class="freelance-content">
									<div class="designation d-flex">
										<a [routerLink]="'/freelancer/developers-details'" class="sky"><i class="fas fa-circle"></i> Web design</a>
										<div class="mark-book d-flex align-items-center"><i class="far fa-bookmark"></i></div>
									</div>
									<div class="freelance-info">
										<h3><a href="#">Kathleen Kaiser <i class="fas fa-check-circle"></i></a></h3>
										<div class="freelance-specific">UI/UX Designer</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>Kansas, USA</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="average-rating">4.7 (32)</span>
										</div>
									</div>
									<div class="develop-bottom d-flex">
										<div class="user-four">
											<a [routerLink]="'/freelancer/developers-details'"><img src="assets/img/user/avatar-8.jpg" class="img-fluid" alt="subscribe"></a>
										</div>
										<h5><span>$25</span> Hourly</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</section>	
			<!-- /Top Instructor -->
			
			<!-- Say Review -->
			<section class="review-four">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="dot-head aos" data-aos="fade-up">
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
							</ul>
							<div class="section-header section-header-two text-left aos" data-aos="fade-up">
								<h2 class="header-title">Top Review</h2>
							</div>
							<div class="section-text aos" data-aos="fade-up">
								<p>High Performing Developers To Your</p>
							</div>
						</div>
					</div>
					<!-- <div id="top-review-slider">
                        <owl-carousel-o [options]="customOption" class="top-slider owl-theme aos" data-aos="fade-up">
                            <ng-container >
                                <ng-template carouselSlide  *ngFor=" let item of images" >
									<div class="testimonial-all d-flex justify-content-center">
										<div class="row">
											<div class="col-lg-3">
												<div class="img-reviews">
													<div class="review-quote">
														<img [src]="item.img" alt="">
													</div>
													<img [src]="item.img1"  alt="">
												</div>
											</div>
											<div class="col-lg-9">
												<div class="testimonial-two-head ">
													<h3>{{item.name}}</h3>
													<p>{{item.para}}</p>
													<div class="review-date">
														<span >{{item.date}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>             
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div> -->
					<ngx-slick-carousel class=" slider say-about slider-for"  #slickModal="slick-carousel" [config]="slideConfig" >
						<div  ngxSlickItem *ngFor=" let item of images">
							<div class="testimonial-all d-flex justify-content-center">
								<div class="row">
									<div class="col-lg-3">
										<div class="img-reviews">
											<div class="review-quote">
												<img [src]="item.img" alt="">
											</div>
											<img [src]="item.img1"  alt="">
										</div>
									</div>
									<div class="col-lg-9">
										<div class="testimonial-two-head ">
											<h3>{{item.name}}</h3>
											<p>{{item.para}}</p>
											<div class="review-date">
												<span >{{item.date}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ngx-slick-carousel>
					<ngx-slick-carousel  #slickModal="slick-carousel" class=" slider client-img slider-nav aos " [config]="slideConfig2">
						<div ngxSlickItem *ngFor=" let item of images">
							<div class="testimonial-thumb">
								<img [src]="item.img1"  alt="">
							</div>
						</div>
						
					</ngx-slick-carousel>
				</div>
			</section>
			<!-- /Say Review Two -->
		
			<!-- News -->
			<section class="section news news-four">
				<div class="container">				
					<div class="row">
						<div class="col-12">
							<ul class="dot-head aos" data-aos="fade-up">
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
								<li><i class="fas fa-circle"></i></li>
							</ul>
							<div class="section-header section-header-two text-left aos" data-aos="fade-up">
								<h2 class="header-title">Feature Blog</h2>
								<div class="browse-all all-browse d-flex align-items-center">
									<a [routerLink]="'/blog/details'" class="btn btn-primary">Browse All <i class="fas fa-angle-right"></i></a>
								</div>
							</div>
							<div class="section-text aos" data-aos="fade-up">
								<p>High Performing Developers To Your</p>
							</div>
						</div>
					</div>
					<div>	
						<div class="row blog-grid-row">
							<div class="col-lg-3 col-md-6 d-flex">
							
								<!-- Blog Post -->
								<div class="blog grid-blog aos" data-aos="fade-up">
									<div class="blog-image">
										<a [routerLink]="'/blog/details'"><img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="Post Image"></a>
									</div>
									<div class="blog-content">
										<div class="designation d-flex">
											<a href="#" class="sky"><i class="fas fa-circle"></i> Web design</a>
										</div>
										<h3 class="blog-title"><a [routerLink]="'/blog/details'">Your next job starts right here</a></h3>
										<ul class="entry-meta meta-item">
											<li> Aug 23, 2021</li>
										</ul>
										<div class="blog-read">
											<a [routerLink]="'/blog/details'" class="btn btn-primary">Read More <i class="fas fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Blog Post -->
								
							</div>
							<div class="col-lg-3 col-md-6 d-flex">
							
								<!-- Blog Post -->
								<div class="blog grid-blog aos" data-aos="fade-up">
									<div class="blog-image">
										<a [routerLink]="'/blog/details'"><img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="Post Image"></a>
									</div>
									<div class="blog-content">
										<div class="designation d-flex">
											<a href="#" class="pink"><i class="fas fa-circle"></i>Ui Design</a>
										</div>
										<h3 class="blog-title"><a [routerLink]="'/blog/details'">Your next job starts right here</a></h3>
										<ul class="entry-meta meta-item">
											<li> Aug 23, 2021</li>
										</ul>
										<div class="blog-read">
											<a [routerLink]="'/blog/details'" class="btn btn-primary">Read More <i class="fas fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Blog Post -->
								
							</div>
							<div class="col-lg-3 col-md-6 d-flex">
							
								<!-- Blog Post -->
								<div class="blog grid-blog aos" data-aos="fade-up">
									<div class="blog-image">
										<a [routerLink]="'/blog/details'"><img class="img-fluid" src="assets/img/blog/blog-03.jpg" alt="Post Image"></a>
									</div>
									<div class="blog-content">
										<div class="designation d-flex">
											<a href="#" class="orange"><i class="fas fa-circle"></i> Node js</a>
										</div>
										<h3 class="blog-title"><a [routerLink]="'/blog/details'">Your next job starts right here</a></h3>
										<ul class="entry-meta meta-item">
											<li> Aug 23, 2021</li>
										</ul>
										<div class="blog-read">
											<a [routerLink]="'/blog/details'" class="btn btn-primary">Read More <i class="fas fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Blog Post -->
								
							</div>	
							<div class="col-lg-3 col-md-6">
							
								<!-- Blog Post -->
								<div class="blog grid-blog aos" data-aos="fade-up">
									<div class="blog-image">
										<a [routerLink]="'/blog/details'"><img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="Post Image"></a>
									</div>
									<div class="blog-content">
										<div class="designation d-flex">
											<a href="#" class="sky"><i class="fas fa-circle"></i> Web design</a>
										</div>
										<h3 class="blog-title"><a [routerLink]="'/blog/details'">Your next job starts right here</a></h3>
										<ul class="entry-meta meta-item">
											<li> Aug 23, 2021</li>
										</ul>
										<div class="blog-read">
											<a [routerLink]="'/blog/details'" class="btn btn-primary">Read More <i class="fas fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Blog Post -->
								
							</div>	
						</div>			
					</div>
				</div>
			</section>
			<!-- / News -->
			<app-home-four-footer></app-home-four-footer>