			<!-- Footer -->	
			<footer class="footer footer-two">
				<div class="footer-top aos" data-aos="fade-up">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="logo-footer">
									<a [routerLink]="'/home2'" class="navbar-brand logo">
										<img src="assets/img/logo-two.png" class="img-fluid" alt="Logo">
									</a>
								</div>
								<div class="footer-address">
									<div class="off-address">
										<p >New York, USA (HQ)</p>
										<address class="mb-0"><i class="fas fa-map-marker-alt"></i>750 Sing Sing Rd, Horseheads, NY, 14845</address>
										<p><i class="fas fa-phone-alt"></i><a href="#"><span>469-537-2410</span> (Toll-free)</a> </p>
									</div>
									<div class="off-address">
										<p>Sydney, Australia </p>
										<address class="mb-0"><i class="fas fa-map-marker-alt"></i>24 Farrar Parade COOROW WA 6515</address>
										<p><i class="fas fa-phone-alt"></i><a href="#"><span>(08) 9064 9807</span> (Toll-free)</a> </p>
									</div>
								</div>
								<div class="social-icon one-icon">
									<ul>
										<li><a href="javascript:" class="icon" target="_blank"><i class="fab fa-instagram"></i> </a></li>
										<li><a href="javascript:" class="icon" target="_blank"><i class="fab fa-linkedin-in"></i> </a></li>
										<li><a href="javascript:" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Useful Links</h2>
									<ul>
										<li><a [routerLink]="'/pages/about'">About Us</a></li>
										<li><a [routerLink]="'/pages/list'">Blog</a></li>
										<li><a [routerLink]="'/auth/login'">Login</a></li>
										<li><a [routerLink]="'/auth/register'">Register</a></li>
										<li><a [routerLink]="'/auth/forgot-password'">Forgot Password</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Help & Support</h2>
									<ul>
										<li><a [routerLink]="'/employer/chats'">Chat</a></li>
										<li><a [routerLink]="'/pages/faq'">Faq</a></li>
										<li><a [routerLink]="'/freelancer/reviews'">Reviews</a></li>
										<li><a [routerLink]="'/pages/privacy-policy'">Privacy Policy</a></li>
										<li><a [routerLink]="'/pages/term-condition'">Terms of use</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Other Links</h2>
									<ul>
										<li><a [routerLink]="'/freelancer/dashboards'">Freelancers</a></li>
										<li><a [routerLink]="'/freelancer/portfolio'">Freelancer Details</a></li>
										<li><a [routerLink]="'/freelancer/project'">Project</a></li>
										<li><a [routerLink]="'/freelancer/project-details'">Project Details</a></li>
										<li><a [routerLink]="'/emloyer/post-project'">Post Project</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Mobile Application</h2>
									<p>Download our App and get the latest Breaking News Alerts and latest headlines and daily articles near you.</p>
									<div class="row g-2">
										<div class="col">
											<a href="javascript:"><img class="img-fluid" src="assets/img/app-store.svg" alt="app-store"></a>
										</div>
										<div class="col">
											<a href="javascript:"><img class="img-fluid" src="assets/img/google-play.svg" alt="google-play"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-12">
									<div class="copyright-text">
										<p class="mb-0"> © 2021-2022, All Rights Reserved</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->						
					</div>
				</div>
				<!-- /Footer Bottom -->				
			</footer>
			<!-- /Footer -->