			<!-- Footer -->	
			<footer class="footer footer-five">
				<div class="footer-top aos" data-aos="fade-up">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="logo-footer">
									<a [routerLink]="'/home'" class="navbar-brand logo">
										<img src="assets/img/logo-footer.png" class="img-fluid" alt="Logo">
									</a>
								</div>
								<div class="text-footer">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
								<div class="social-icon icon-list">
									<ul>
										<li><a href="javascript:" class="icon" target="_blank"><i class="fab fa-facebook"></i> </a></li>
										<li><a href="javascript:" class="icon" target="_blank"><i class="fab fa-instagram"></i> </a></li>
										<li><a href="javascript:" class="icon" target="_blank"><i class="fab fa-linkedin-in"></i> </a></li>
										<li><a href="javascript:" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Useful Links</h2>
									<ul>
										<li><a [routerLink]="'/pages/about'">About Us</a></li>
										<li><a [routerLink]="'/pages/list'">Blog</a></li>
										<li><a [routerLink]="'/auth/login'">Login</a></li>
										<li><a [routerLink]="'/auth/register'">Register</a></li>
										<li><a [routerLink]="'/auth/forgot-password'">Forgot Password</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Other Links</h2>
									<ul>
										<li><a [routerLink]="'/freelancer/dashboards'">Freelancers</a></li>
										<li><a [routerLink]="'/freelancer/portfolio'">Freelancer Details</a></li>
										<li><a [routerLink]="'/freelancer/project'">Project</a></li>
										<li><a [routerLink]="'/freelancer/project-details'">Project Details</a></li>
										<li><a [routerLink]="'/emloyer/post-project'">Post Project</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Address</h2>
									<ul class="address-box">
										<li><i class="fas fa-map-marker-alt"></i> 3556 Beech Street, San Francisco, California, CA 94108.</li>
										<li><i class="fas fa-phone-alt"></i> +154 6546 5640</li>
										<li><i class="far fa-envelope"></i>Kofejob@gmail.com</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 All Rights Reserved</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 right-text">
									<div class="social-icon footer-policy">
										<ul>
											<li><a [routerLink]="'/pages/term-condition'" >Terms and Conditions </a></li>
											<li><a [routerLink]="'/pages/privacy-policy'" >Policy </a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->						
					</div>
				</div>
				<!-- /Footer Bottom -->				
			</footer>
			<!-- /Footer -->