<app-home-five-header></app-home-five-header>			
			<!-- Home Banner -->
			<section class="section home-banner row-middle home-five">
				<div class="container">
					<div class="dark-group d-flex align-items-center">
						<div class="row align-items-center">
							<div class="col-md-8 col-lg-7">
								<div class="banner-content aos" data-aos="fade-up">
									<div class="rating d-flex">
										<i class="fas fa-star checked"></i>
										<i class="fas fa-star checked"></i>
										<i class="fas fa-star checked"></i>
										<i class="fas fa-star checked"></i>
										<i class="fas fa-star checked"></i>
									</div>
									<h5>Trused by over 2M+ users</h5> 
									<h1>Get the perfect <span class="orange-text">Developers & Projects</span></h1>
									<form class="form"  name="store" id="store" method="post" action="project.html">
										<div class="form-inner">
											<div class="input-group">
												<span class="drop-detail">
													<mat-select  [(value)]="selected">
														<mat-option value="projects">Projects</mat-option>
														<mat-option value="freelancers">Freelancers</mat-option>
													  </mat-select>
													<!-- <mat-select  [(value)]="selected">
														<mat-option value="option1">Projects</mat-option>
														<mat-option value="option2">Freelancers</mat-option>
													  </mat-select> -->
												</span>
												<input type="text" class="form-control search-text-bg" placeholder="Search here">
												<button class="btn btn-primary sub-btn" type="submit">Search</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-4 col-lg-5">
								<div class="banner-five-img aos" data-aos="fade-up">
									<img src="assets/img/object-03.png" class="img-fluid" alt="banner">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->			
			
			<!--- Developed Project  -->
			<section class="work-three work-five">
				<div class="need-position">
					<div class="container">
						<div class="work-three-widget aos" data-aos="fade-up">
							<div class="creative-img">
								<img src="assets/img/project-06.png" alt="" class="img-fluid">
							</div>
							<div class="widget-group">
								<div class="row">
									<div class="col-lg-6 col-md-6 budget-position">
										<div class="budget-creative">
											<div class="perfect-group aos" data-aos="fade-up">
												<h2>I NEED A DEVELOPED PROJECT</h2>
												<p>Get the perfect Developed project for your budget from our creative community.</p>
												<div class="view-face">
													<a [routerLink]="'/freelancer/project'" class="btn btn-primary"><i class='fas fa-arrow-right'></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="perfect-group work-to aos" data-aos="fade-up">
											<h2>I WANT TO WORK</h2>
											<p>Do you want to earn money, find unlimited clients and build your freelance career?</p>
											<div class="view-work">
												<a [routerLink]="'/freelancer/project'" class="btn btn-primary"><i class='fas fa-arrow-right'></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--- /Developed Project  -->
			
			<!-- Projects -->
			<section class="section projects projects-three projects-five">
				<div class="project-back">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-12 mx-auto">
								<div class="section-header section-three section-five text-center aos" data-aos="fade-up">	
									<h2 class="header-title">Get Inspired By <span> Development Projects</span></h2>
									<p>High Performing Solutions To Your</p>
								</div>
							</div>
						</div>
						<div class="row">
							
							<!--- Project Item  -->
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="project-item aos" data-aos="fade-up">
									<div class="project-img">
										<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-12.jpg" alt="" class="img-fluid"></a>
									</div>
									<div class="develop-role d-flex justify-content-between align-items-center">
										<div class="project-content">
											<h4>45</h4>
											<h5><a [routerLink]="'/freelancer/project'">ANDROID </a></h5>
										</div>
										<div class="pro-icon">
											<div class="project-icon">
											</div>
										</div>
										<div class="project-content">
											<h4>20</h4>
											<h5><a [routerLink]="'/freelancer/project'">Developers</a></h5>
										</div>
									</div>
								</div>
							</div>
							<!--- /Project Item  -->
							
							<!--- Project Item  -->
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="project-item aos" data-aos="fade-up">
									<div class="project-img">
										<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-13.jpg" alt="" class="img-fluid"></a>
									</div>
									<div class="develop-role apps-color d-flex justify-content-between align-items-center">
										<div class="project-content">
											<h4>45</h4>
											<h5><a [routerLink]="'/freelancer/project'">LARAVEL</a></h5>
										</div>
										<div class="pro-icon">
											<div class="project-icon">
											</div>
										</div>
										<div class="project-content">
											<h4>20</h4>
											<h5><a [routerLink]="'/freelancer/project'">Developers</a></h5>
										</div>
									</div>
								</div>
							</div>
							<!--- /Project Item  -->
							
							<!--- Project-Item  -->
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="project-item aos" data-aos="fade-up">
									<div class="project-img">
										<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-14.jpg" alt="" class="img-fluid"></a>
									</div>
									<div class="develop-role d-flex justify-content-between align-items-center">
										<div class="project-content">
											<h4>45</h4>
											<h5><a [routerLink]="'/freelancer/project'">React</a></h5>
										</div>
										<div class="pro-icon">
											<div class="project-icon">
											</div>
										</div>
										<div class="project-content">
											<h4>20</h4>
											<h5><a [routerLink]="'/freelancer/project'">Developers</a></h5>
										</div>
									</div>
								</div>
							</div>
							<!--- /Project Item  -->
							
							<!--- Project Item  -->
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="project-item aos" data-aos="fade-up">
									<div class="project-img">
										<a [routerLink]="'/freelancer/project'"><img src="assets/img/project/project-12.jpg" alt="" class="img-fluid"></a>
									</div>
									<div class="develop-role apps-color d-flex justify-content-between align-items-center">
										<div class="project-content">
											<h4>45</h4>
											<h5><a [routerLink]="'/freelancer/project'">GOLANG</a></h5>
										</div>
										<div class="pro-icon">
											<div class="project-icon">
											</div>
										</div>
										<div class="project-content">
											<h4>20</h4>
											<h5><a [routerLink]="'/freelancer/project'">Developers</a></h5>
										</div>
									</div>
								</div>
							</div>
							<!--- /Project Item  -->
							
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="see-all btn-three aos" data-aos="fade-up"> 
									<a [routerLink]="'/freelancer/project'" class="btn all-btn">SEE ALL PROJECT <i class="fas fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Projects -->
		
			<!-- Most Hired -->
			<section class="hired-developer hired-developer-five">
				<div class="position-three position-five">
					<div class="container">
						<div class="section-header section-three section-five aos" data-aos="fade-up">	
							<h2 class="header-title"><span>Most Hired</span> Developers</h2>
							<p>Work with talented people at the most affordable price</p>
						</div>
						<div class="row">
							<div class="col-lg-8 col-md-7">
									<div id="developers-slider-three">
										<owl-carousel-o [options]="customsOption" class="developers-slider-three owl-theme aos" data-aos="fade-up">
											<ng-container >
												<ng-template carouselSlide  *ngFor="let slide of hiredslides" >
													<div class="freelance-widget widget-three">
														<div class="freelance-content free-one">
															<a data-toggle="modal" href="#rating" class="favourite"><i class="far fa-bookmark"></i></a>
															<div class="freelance-img">
																<a [routerLink]="'/freelancer/developers-details'">
																	<img [src]="slide.image" alt="User Image">
																	<span class="verified"><i class="fas fa-check-circle"></i></span>
																</a>
															</div>
															<div class="freelance-info">
																<h3><a [routerLink]="'/freelancer/developers-details'">{{slide.name}}</a></h3>
																<div class="freelance-specific">{{slide.role}}</div>
																<div class="rating">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																</div>
															</div>
															<div class="develop-footer d-flex align-items-center">
																<h4>${{slide.amount}}</h4>
																<div class="blue-view">
																	<a [routerLink]="'/freelancer/developers-details'" class="btn btn-primary">View Profile</a>
																</div>
															</div>
														</div>
													</div>
												</ng-template>
											</ng-container>
										</owl-carousel-o>
									</div>
							</div>
							<div class="col-lg-4 col-md-5">
								<div class="developer-image aos" data-aos="fade-up">
									<img src="assets/img/developer-01.png" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Most Hired -->	
			
			<!-- Our Feature -->
			<section class="section feature feature-three feature-five">
				<div class="container">
					<div class="section-header section-three section-five text-center aos" data-aos="fade-up">
						<h2 class="header-title">Strength in <span>Numbers</span></h2>
						<p>Work with talented people at the most affordable price</p>
					</div>
					<div class="row justify-content-center">					
								
						<!-- Feature Item -->
						<div class="col-lg-4 col-md-6 d-flex">
							<div class="feature-item freelance-count aos" data-aos="fade-up">
								<div class="feature-icon">
									<i class="fas fa-laptop-code"></i>
								</div>
								<div class="feature-content">
									<h3>919,207</h3>
									<p>freelance Developers</p>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->
						
						<!-- Feature Item -->
						<div class="col-lg-4 col-md-6 d-flex">
							<div class="feature-item aos" data-aos="fade-up">
								<div class="feature-icon">
									<i class="fas fa-project-diagram"></i>
								</div>
								<div class="feature-content">
									<h3>25 - 100+</h3>
									<p>Developers  per project</p>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->
						
						<!-- Feature Item -->
						<div class="col-lg-4 col-md-6 d-flex">
							<div class="feature-item comp-project aos" data-aos="fade-up">
								<div class="feature-icon">
									<i class="fas fa-list"></i>
								</div>
								<div class="feature-content">
									<h3>388,615</h3>
									<p>completed projects</p>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->									
												
					</div>
				</div>
			</section>	
			<!-- /Our Feature -->
			
			<!-- Review -->
			<section class="review-three review-five">
				<div class="container">
					<div class="review-bg">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="review-develop aos" data-aos="fade-up">
									<img src="assets/img/review-02.png" alt="Image">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 ">
									<div id="testimonial-slider-three">
										<owl-carousel-o [options]="customOption" class="testimonial-slider-three owl-theme aos" data-aos="fade-up">
											<ng-container *ngFor="let slides of developslide">
												<ng-template carouselSlide >   
													<div class="review-blog">
														<div class="review-content">
															<p>{{slides.para}} </p>
														</div>
														<div class="review-top d-flex align-items-center">
															<div class="review-img">
																<a [routerLink]="'/freelancer/reviews'"><img class="img-fluid" [src]="slides.img" alt="Post Image"></a>
															</div>
															<div class="review-info">
																<h3>{{slides.name}}</h3>
																<h5>{{slides.role}}</h5>	
															</div>
														</div>
														<div class="rating">
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star"></i>
														</div>
													</div>
												</ng-template>
											</ng-container>
										</owl-carousel-o>
									</div>      
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Review -->	
		
			<!-- News -->
			<section class="section news news-three news-five">
				<div class="container">				
					<div class="row">
						<div class="col-12">
							<div class="section-header section-three section-five text-center aos" data-aos="fade-up">
								<h2 class="header-title"><span>Latest</span> Blog</h2>
								<p>Have a Look Our Blog</p>
							</div>
						</div>
					</div>
					<div>	
						<div class="row blog-grid-row justify-content-center">
							<div class="col-lg-4 col-md-6">
							
								<!-- Blog Post -->
								<div class="blog grid-blog aos" data-aos="fade-up">
									<div class="blog-image">
										<a [routerLink]="'/blog/details'"><img class="img-fluid" src="assets/img/blog/blog-10.jpg" alt="Post Image"></a>
									</div>
									<div class="blog-content">
										<h3 class="blog-title"><a [routerLink]="'/blog/details'">Your next job starts right here starts right here</a></h3>
										<ul class="entry-meta meta-item">
											<li> 3 Nov 2021 <i class="fas fa-calendar-week"></i></li>
										</ul>
									</div>
								</div>
								<!-- /Blog Post -->
								
							</div>
							<div class="col-lg-4 col-md-6">
							
								<!-- Blog Post -->
								<div class="blog grid-blog aos" data-aos="fade-up">
									<div class="blog-image">
										<a [routerLink]="'/blog/details'"><img class="img-fluid" src="assets/img/blog/blog-11.jpg" alt="Post Image"></a>
									</div>
									<div class="blog-content blog-blue">
										<h3 class="blog-title"><a [routerLink]="'/blog/details'">Kofejob - How to get job through online?</a></h3>
										<ul class="entry-meta meta-item">
											<li>3 Nov 2021 <i class="fas fa-calendar-week"></i></li>
										</ul>
									</div>
								</div>
								<!-- /Blog Post -->
								
							</div>
							<div class="col-lg-4 col-md-6">
							
								<!-- Blog Post -->
								<div class="blog grid-blog aos" data-aos="fade-up">
									<div class="blog-image">
										<a [routerLink]="'/blog/details'"><img class="img-fluid" src="assets/img/blog/blog-10.jpg" alt="Post Image"></a>
									</div>
									<div class="blog-content">
										<h3 class="blog-title"><a [routerLink]="'/blog/details'">Your next job starts right here starts right here</a></h3>
										<ul class="entry-meta meta-item">
											<li> 3 Nov 2021 <i class="fas fa-calendar-week"></i></li>
										</ul>
									</div>
								</div>
								<!-- /Blog Post -->
								
							</div>					
						</div>			
					</div>
				</div>
			</section>
			<!-- / News -->
			
			<!--  Subscribe -->
			<section class="subscribe-three subscribe-five">
				<div class="container">
					<div class="discount-more ">
						<div class="section-header section-three section-five text-center aos" data-aos="fade-up">
							<h2 class="header-title"><span>Subscribe To Get Discounts,</span> Updates & More</h2>
							<p>HMonthly product updates, industry news and more!</p>
						</div>
						<div class="banner-content aos" data-aos="fade-up">
							<form class="form"  name="store"  method="post" action="project.html">
								<div class="form-inner">
									<div class="input-group">
										<input type="email" class="form-control" placeholder="Enter Email Address">
										<button class="btn btn-primary sub-btn" type="submit">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!--  /Subscribe -->
<app-home-five-footer></app-home-five-footer>